ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}



ion-content {
  --ion-background-color: (#ffffff);
}
.flex {
  display: flex;
  justify-content: space-between;
}

// .ion-color-facebook {
//   --ion-color-base: var(--ion-color-facebook) !important;
//   --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
//   --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
//   --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
//   --ion-color-shade: var(--ion-color-facebook-shade) !important;
//   --ion-color-tint: var(--ion-color-facebook-tint) !important;
// }
// .ion-color-google {
//   --ion-color-base: var(--ion-color-google) !important;
//   --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
//   --ion-color-contrast: var(--ion-color-google-contrast) !important;
//   --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
//   --ion-color-shade: var(--ion-color-google-shade) !important;
//   --ion-color-tint: var(--ion-color-google-tint) !important;
// }
.logo {
  position: relative;
  height: 250px;
}
.logo ion-icon{
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}